h1{
	font-family: Montserrat;
	text-align: center;
	background-color: black;
	color: white;
	padding: 30px;
}

hr{
	border: 2px solid black;
	width: 50%;
}

p{
	font-family: Montserrat;
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 25px;
}

img{
	border-radius: 50%;
	width: 35%;
	margin-top: 5%;
	margin-left: 30%;
}

a {
	margin-left: 7%;
}