*{
	font-family: Montserrat;
}

#service{
	margin-top: 30px;
}

.service_col{
	padding: 20px;
	text-align: center;
}

.service_cont{
	margin-top: 30px;
}

.img-container{
	text-align: center;
}

button{
	margin-top: 100px;
}

li a{
	text-decoration: none;
}

footer{
	padding: 20px;
	margin-top: 50px;
	background-color: black;
	color: white;
}

.footer-link{
	color: white;
}

.footer-link:hover{
	display: inline;
}

ul{
	list-style: none;
}